<style>
  p {
    margin-top: 100px;
  }
  h2 {
    margin-top: 100px;
  }
  h3 {
    margin: 30px;
  }
</style>

<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
	        <div class="panel-heading">
	        	<div>キャラクターランキングの評価基準について</div>
	        </div>
        	<div class="panel-body">
	        	<ul>
	        	  <li>10点満点で評価</li>
	        	  <li>1on1</li>
	        	  <li>アイテムなし</li>
	        	  <li>ステージ「終点」「戦場」「すま村」「村と街」「ポケモンスタジアム2」</li>
	        	</ul>
        	</div>
        </div>
        <div class="text-center">
          <div class="panel panel-warning">
          	<div class="panel-heading">
        		  <h3 class="underline"><%= link_to 'キャラクターランキング一覧', characters_path %></h3>
          	</div>
        	  <ul class="list-group">
            	<li class="list-group-item">自分の使っているキャラクターの評価を見たい人</li>
            	<li class="list-group-item">評価の高いキャラクターを使いたい人</li>
          	</ul>
        	</div>
        	<div class="panel panel-success">
            <div class="panel-heading">
      	    	<h3 class="underline"><%= link_to '初心者におすすめキャラクター', page_path('about') %></h3>
        	  </div>
        	  <ul class="list-group">
            	<li class="list-group-item">スマブラを初めてやる人</li>
            	<li class="list-group-item">どのキャラを使えばいいか分からない人</li>
          	</ul>
        	</div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h2>キャラクターについて思ったことをコメントしてみる</h2>
      <p><%= link_to 'スマブラSP攻略に登録する', signup_path, class: 'btn btn-lg btn-primary' %></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
	        <div class="panel-heading">
	        	<div>キャラクターランキングの評価基準について</div>
	        </div>
        	<div class="panel-body">
	        	<ul>
	        	  <li>10点満点で評価</li>
	        	  <li>1on1</li>
	        	  <li>アイテムなし</li>
	        	  <li>ステージ「終点」「戦場」「すま村」「村と街」「ポケモンスタジアム2」</li>
	        	</ul>
        	</div>
        </div>
        <div class="text-center">
          <div class="panel panel-warning">
          	<div class="panel-heading">
        		  <h3 class="underline"><%= link_to 'キャラクターランキング一覧', characters_path %></h3>
          	</div>
        	  <ul class="list-group">
            	<li class="list-group-item">自分の使っているキャラクターの評価を見たい人</li>
            	<li class="list-group-item">評価の高いキャラクターを使いたい人</li>
          	</ul>
        	</div>
        	<div class="panel panel-success">
            <div class="panel-heading">
      	    	<h3 class="underline"><%= link_to '初心者におすすめキャラクター', page_path('about') %></h3>
        	  </div>
        	  <ul class="list-group">
            	<li class="list-group-item">スマブラを初めてやる人</li>
            	<li class="list-group-item">どのキャラを使えばいいか分からない人</li>
          	</ul>
        	</div>
        </div>
      </div>
    </div>
  </div>
<% end %>



