<style>
    .table-bordered th,
    .table-bordered td {
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <th>評価</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= @character.name %><img src="<%= @character.image %>" width="20"></th>
            <td class="character.rank" style="<%= rank_color(@character.rank) %>"><%= @character.rank %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h4><%= @character.name %>の考察</h4>

<div class="jumbotron">
  <%= simple_format(@character.description)%>
</div>

<h4>コメント一覧</h4>
<% @comments.each do |c| %>
  <ul class="list-group">
    <li class="list-group-item">
      <!--<a href="/users/<%= @comment_user_id %>"><%= c.id %> <%= c.user.name %></a><br>-->
      <p><%= c.id %> <%= c.user.name %></p>
      <%= simple_format(c.content) %>
    </li>
  </ul>
<% end %>

<%= will_paginate @comments, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

<% if logged_in? %>
  <h4>コメントを書き込む</h4>
  <%= form_for @comment do |f| %>
    <%= hidden_field_tag :character_id, @character.id %>
    <%= f.text_area :content, :cols => 100, :rows => 5 %><br>
    <%= f.submit 'コメントする' %>(500文字以内)
  <% end %>
<% else %>
  <p>書き込むには<%= link_to "ログイン", login_path %>、もしくは<%= link_to "ユーザー登録", signup_path %>をしましょう！</p>
<% end %>

<p class="underline"><%= link_to 'キャラクターランキング一覧に戻る', characters_path %></p>
<p class="underline"><%= link_to '初心者におすすめキャラクターに戻る', page_path('about') %></p>

<% if logged_in? and current_user.admin? %>
  <p class="underline"><%= link_to 'このキャラクターの情報を変更する', edit_character_path(@character) %></p>
<% end %>
